body {
    background-image: url("background.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: center;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-size: x-large;
}

#grid {
    border-radius: 20px;
    border: 0px solid #000000;
    display: grid;
    grid-template-columns: repeat(40, 30px);
    grid-template-rows: repeat(20,30px);
}

#grid div {
    width: 30px;
    height: 30px;
    border: 0px solid #5c2323;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.black {
    background-color: #000000;
}

.cube1 {
    background-image: url("cube1.png");
    background-size: 100%;
}

.cube2 {
    background-image: url("cube2.png");
    background-size: 100%;
}

.cube3 {
    background-image: url("cube3.png");
    background-size: 100%;
}

.cube4 {
    background-image: url("cube4.png");
    background-size: 100%;
}

.clock1 {
    background-image: url("clock1.png");
    background-size: 100%;
}

.clock2 {
    background-image: url("clock2.png");
    background-size: 100%;
}

.clock3 {
    background-image: url("clock3.png");
    background-size: 100%;
}

.clock4 {
    background-image: url("clock4.png");
    background-size: 100%;
}


.suitcase1 {
    background-image: url("suitcase1.png");
    background-size: 100%;
}
.suitcase2 {
    background-image: url("suitcase2.png");
    background-size: 100%;
}
.blank {
    background-image: url("blank\ .png");
    background-size: 100%;
}
.suitcase4 {
    background-image: url("suitcase4.png");
    background-size: 100%;
}
.suitcase5 {
    background-image: url("suitcase5.png");
    background-size: 100%;
}
.suitcase6 {
    background-image: url("suitcase6.png");
    background-size: 100%;
}
.edge {
    background-image: url("edge.png");
    background-size: 100%;
}
.suitcase21 {
    background-image: url("suitcase21.png");
    background-size: 100%;
}
.suitcase22 {
    background-image: url("suitcase22.png");
    background-size: 100%;
}
.red {
    background-color: rgb(131, 83, 56);
}
.blue {
    background-color: rgb(255, 0, 0);
}
.green {
    background-color: green;
}
.redi {
    background-color: red;
}
.bluei {
    background-size: 100%;
}
.greeni {
    background-size: 100%;
}
  
#score {
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#stats {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: x-large;
  }

#title {
    align-items: center;
    text-align: center;
    font-size: larger;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}